* {
    box-sizing: border-box;
}

html, body, main, header, nav, ul, li, section, h1, span, p, img { 
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #002239;
}

.hero, .footer {
    font-size: 2.5em;
    font-family: 'Permanent Marker', cursive;
}

.hero {
    background: url(../images/mountain.jpg);
    width: 100%;
    height: 800px;

}

.footer { 
    background: url(../images/winterpath.jpg);
    width: 100%;
    height: 800px;
    color: #fff;
    padding-top: 100px;
}

footer div { 
    width: 50%;
}

.footer h1 { 
    text-shadow: 2px 2px 5px #333;
}

.footer p {
    font: 300 .75em 'Raleway', sans-serif; 
    color: #235270;
}

.tagline {
    margin-left: 5%;
    padding-top: 20%;
    text-shadow: 2px 2px 5px #333;
    color: #fff;
}

.tagline h1 { 
    font-weight: 300;
}

.subtext { 
    font: 300 .75em 'Raleway', sans-serif;
    margin-top: -15px;
    margin-left: 3em;
}

.important {
    text-decoration: underline;
}

.center-text { 
    text-align: center;
}

.top-nav {
    padding: 20px 10px 10px 10px;
    width: 100%;
    letter-spacing: 1.5px;
    text-align: right;
    font: 400 .375em 'Raleway', sans-serif;
    position: fixed;
}

.nav-scroll-start { 
    margin-top: -50px;
    transition: margin-top .5s;
}

.nav-scroll-stop { 
    margin-top: 0;
    transition: margin-top 1s;
}

.top-nav ul { 
    list-style: none;
}

.top-nav ul li { 
    display: inline-block;
    margin-right: 20px;
}

.top-nav a {
    text-decoration: none;
    color: #002239;
    display: inline-block;
}

.top-nav a:hover {
    border-radius: 3px;
    background-color: #213142;
    color: #fff;
    padding: 2px;
}

.about { 
    background-color: #213142;
    height: 250px;
    width: 100%;
    font-weight: 300;
    font-size: 1.65em;
    border-top: 1px solid #fff;
    letter-spacing: .5px;
    color: #fff;
}

.quotes { 
    height: 300px;
}

.quotes p { 
    width: 30%;
}

.fa-quote-left {
    font-size: 3em;
}

.flex { 
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.flex-cell.one-column { 
    width: 100%;
}

.flex-cell.four-column {
    width: 33.3%;
    height: 400px;    
}

.center { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;   
}

.bottom {
    display: flex;
    align-items: flex-end;
}

.align-right {
    display: inline-block;
    text-align: right;
}

.ninety-percent {
    width: 90%;
}

.flex-cell { 
    align-self: center;
}

.royal-color { 
    background-color: #4C5876;
    color: #fff;
}

.blue-color { 
    background-color: #235270;
    color: #fff;
}

.tan-color {
    background-color: #bba8a0;
}
.white-color {
    background-color: #fff;
    border-bottom: 1px solid #333;
    box-shadow: 0px 5px 20px #333;
}

.active { 
    border-radius: 3px;
    background-color: #213142;
    color: #fff;
    padding: 2px;
}

.screenshot { 
    box-shadow: 1px 1px 20px #000;
    border: 1px solid #000;
    height: 300px;
    width: 80%;
    min-width: 400px;
    max-width: 550px;
}

.screenshot-info {
    opacity: 0;
    width: 100%;
    height: 35px;
    background-color: #333;
    color: #fff;
    font: 300 1.5em "Permanent Marker";
    letter-spacing: 1px;
    transition: height .5s, opacity .5s;
}

.screenshot-info-header { 
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}

.screenshot-info-body { 
    font: 1em 'Raleway', sans-serif;
    padding: 10px;
    position: relative;
}

.screenshot-info-body .links {
    position: absolute;
    top: 219px;
    left: 0;
    width: 100%;
    height: 35px;
    border-top: 1px solid #fff;
    padding: 2px;
    
}

.screenshot-info-body .links a { 
    color: #235270;
    display: inline-block;
    margin-left: 10px;
}

.screenshot-info-body .links a:hover { 
    color: #fff;
}

.hidden { 
    opacity: 0;
    display: none;
}

.screenshot:hover > div {
    /*height: 200px;*/
    opacity: .9;
    transition: opacity .75s;
}
.screenshot:hover {
    box-shadow: none;
}


.social-icons { 
    color: #213142;
    display: inline-block;
    margin: 50px 20px;
}

.social-icons:hover {
    color: #235270;
}

.screenshot.envision-university { 
    background: url("../images/envisionuniversity.png") center;
}

.screenshot.bosma { 
    background: url("../images/bosma.png") center;
}

.screenshot.vivid-ciphers { 
    background: url("../images/vc.png") center;
}

.screenshot.tribute-page { 
    background: url("../images/tribute-page.png") center;
}

.screenshot.big-tim { 
    background: url("../images/big-tim.png") center;
}

.screenshot.number-guesser { 
    background: url("../images/number-guesser.png") center;
}



@media (max-width: 1400px){
    .flex-cell.four-column {
    width: 50%;
    height: 400px;
}
}

@media (max-width: 968px){
    .flex-cell.four-column {
    width: 100%;
    height: 400px;
}

.quotes p { 
    width: 100%;
}

.footer div { 
    width: 100%;
}
}